# H1 Data Science Tools and Ecosystem
## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives
1. Popular languages that data scientists use.
2. Commonly used libraries used by data scientists
3. Examples of evaluating arithmetic expressions in Python
4. Simple arithmetic expression to mutiply then add integers
5. Convert 200 minutes to hours by diving by 60

# Some of the popular languages that Data Scientists use are:
- python, R, SQL

# Some of the commonly used libraries used by Data Scientists include:
- Pandas, Seaborn ,matplotlib

| Data Science Tools |
|--------------------|
|Spyder|
|Jupyterlab|
|VS code|

# Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

# This will convert 200 minutes to hours by diving by 60

In [4]:
minutes = 200
ds = minutes/60
print(ds)

3.3333333333333335

## AUTHOR
SIYA BANSIWAL